* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

main{
    padding: 2em;
}

/* HEADER */

header {
    background: #F55A5A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 10vh;
    /* min-height: 100px; */
    margin-bottom: 2em;
}

.header-text {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: -0.075em;
}

/* CONCERTS */

.concert-tile {
    max-width: 450px;
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

hr {
    width: 90%;
    margin: 1.25em auto;
    border: 1px solid #F5F5F5;
}

.concert-img {
    max-width: 125px;
    width: 100%;
    height: 168px;
    object-fit: cover;
    margin-right: 1.25em;
    border-radius: 0.75em;
    border: 2px solid gray;
}

.outer-container {
    display: flex;
    flex-direction: column;
}

.inner-container {
    display: flex;
    align-items: center;
}

.concert-tour {
    font-weight: 700;
    font-size: 1.55rem;
    margin-bottom: .25em;
    margin-top: 0;
    text-decoration: underline;
}

.concert-headliner {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2B283A;
    margin-bottom: .25em;
}

.concert-acts {
    font-size: 0.65rem;
    line-height: 150%;
    color: #2B283A;
}

.concert-date {
    font-weight: 600;
    font-size: 0.5rem;
    color: #2B283A;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0.55em;
}

.location-icon {
    width: 0.5em;
    object-fit: cover;
}

.concert-location {
    margin-left: 0.5em;
    text-transform: uppercase;
    font-size: .55rem;
    letter-spacing: 0.15em;
    color: #2B283A;
}


/* IMAGE GALLERY */

.img-gallery-container{
    max-width: 800px;
    width: 100%;
    max-height: 800px;
    margin: 5rem auto 0;
    box-shadow: #2b1545 1px 10px 10px 5px;
}

.image-gallery-image{
    min-height: 800px;
    object-fit: cover;
}

/* MEDIA QUERIES */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: .5em;
        margin-right: .5em;
    }

    .concert-tile {
        height: 40vh;
    }

    .concert-img {
        margin-right: .75em;
    }

    .concert-tour {
        font-size: 1.2rem;
    }

    .concert-headliner {
        font-size: .75rem;
    }

    .concert-acts {
        font-size: .55rem;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: .5em;
        margin-right: .5em;
    }
}

@media screen and (min-width: 1025px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 1.25em;
        margin-right: 1.25em;
    }

    .concert-tile {
        height: 40vh;
    }

    .inner-container {
        margin-top: .5em;
    }

    .concert-img {
        margin-right: 1em;
        max-width: 250px;
        width: 40%;
        height: 35vh;
    }

    .concert-tour {
        font-size: 1.5rem;
    }

    .concert-headliner {
        font-size: 1.25rem;
    }

    .concert-acts {
        font-size: .8rem;
    }

    .concert-date {
        font-size: .75rem;
        margin-top: 2.75em;
    }

    .concert-location {
        font-size: .7rem;
    }

    .location-icon {
        width: .8em
    }
}

footer {
    padding: 1em;
    font-size: 1rem;
    margin-top: 2.5em;
    background-color: #F55A5A;
    text-align: center;
    color: #FFFFFF;
}

footer a{
    color: #ffffff;
}