* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

/* IMAGE GALLERY */

.img-gallery-container{
    max-width: 800px;
    width: 100%;
    max-height: 800px;
    
    margin: 2rem auto 1rem;
    box-shadow: #2b1545 1px 10px 10px 5px;
}

.image-gallery-image{
    min-height: 600px;
    object-fit: cover;
}